@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to ArduinoSystems</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Accounts" asp-action="Index">See Accounts</a>
            </li>
        </ul>
        <iframe src="http://arduinos.dev.diagnosticomon.com.ar/Channels/View?apikey=6d090696-88fd-4b5b-8d2a-514d0e989836&field=1&take=200" width="450" height="260"></iframe>
    </div>
