@model HomeViewModel

@{ ViewData["Title"] = "Home"; }

<div class="text-center">
    <h1 class="display-4">Welcome to ArduinoSystem</h1>
    

    <ul class="list-group">
        <li class="list-group-item">
            <a asp-controller="channels">Ver canales</a>
        </li>
        @foreach (var user in Model.users)
        {
    <li class="list-group-item">
        <a asp-controller="channels" asp-route-userId="@user.Id">Arduinos de @user.Name</a>
    </li>}
    </ul>
</div>
